<div class="adocs-content">
    <h2 class="adocs-heading ng-binding">Add New Language</h2>
    <div class="adocs-section-content ng-binding">
	<p>In this article, we are going to follow below steps to add a new language into our app.</p>
	<p>We are taking the Russian language as an example. So, here are the steps:</p>
	<ol>
		<li>
			<strong>Create a Locale</strong><br>
			<p>This step can be completed by following below instructions:</p>
			<ul>
				<li>
					<strong>Create a Local JSON File</strong><br>
					<p>We need a locale data json file where we can keep all our labels, messages etc. language variables to set their translations for the specific language.</p>
					<p>For this, create a file “ru_RU.json” under the folder <span class="f-path small">src/lngProvider/locales/</span></p>
					<p>Now, you can copy the whole content of file <span class="f-path small">src/lngProvider/locales/en_US.json</span> (this contains all translation variables with value of English language strings) and paste that into our newly created <span class="f-path small">ru_RU.json</span> file.</p>
					<p>The above step will give us all the labels, messages etc variables and we can replace their values with the Russian translation.</p>
					<p>For example, let’s change value of <span class="f-path small">“pages.samplePage” : “Sample Page”</span>  to <span class="f-path small">“pages.samplePage”: “Пример страницы”</span></p>
				</li>
				<li>
					<strong>Create i18 Context</strong><br>
					<p>Now, in this step, we are going to create an entry file <span class="f-path small">src/lngProvider/entry/</span> folder with the name <span class="f-path small">“ru_RU.js”.</span></p>
					<p>This file is needed to import both the react-intl’s local data and our locale data json file and setup the i18 context.</p>
					<p class="lead"><strong>Here is the source code for reference.</strong></p>
				</li>
				
			</ul>
		</li>
		<li>
			<strong>Add Locale to appLocales</strong><br>
			<p>In this step, we will add our newly created i18 context in above step to the react-intl’s appLocales. This will be done in two further steps:</p>
			<ol>
				<li>Open the file src/lngProvider/index.js and Import i18 context locale entry file into this.</li>
				<li>Add imported i18 context variable to the appLocale Object. Check following source code for reference:<br>
					<strong>Source code for reference from register</strong>
				</li>
			</ol>
		</li>	
		<li>
			<strong>Add an Option to Language Switcher</strong><br>
			<p>For this, we need to access the <span class="f-path small">data.js</span> file which can be found under <span class="f-path small">src/componenets/LanguageSwitcher/</span> folder.</p>
			<p>Here in this file, we need to add following language object to the languageData array:</p>
			<pre>
			<code class="hljs javascript">
{
	languageId: 'russian', // Unique ID for language
	locale : 'ru',         // locale name to link with the previously named locale
	name : 'Russian',      // Display name of the language
	Icon : 'ru'            // To choose the flag of the country
}
			</code>
			</pre>
		</li>
	</ol>
	</div>
</div>
