<div class="adocs-content">
    <h2 class="adocs-heading ng-binding">Layout Structure</h2>
    <div class="adocs-section-content ng-binding"><p>Following diagram presents the layout/block structure of Mouldifi. This explains how sections are divided in blocks.</p>
        <p><img src="images/layout-structure.jpg"></p>
    </div>
</div>