
<div class="adocs-content">
    <h2 class="adocs-heading ng-binding">Change Color Theme</h2>
    <div class="adocs-section-content ng-binding">
		<p>This article is dedicated to learn how to change the color theme in the starter template.</p>
		<p>So, first thing first, we are talking about the style. Right?</p>
		<p>This means the first folder we need to access is <span class="f-path">src/styles/</span></p>
		<p>All of the style related work is placed here in this folder.</p>
		<p>Now, here you can find the folder <span class="f-path">global/</span>. This global folder is the folder where we have defined all the Sass variables, mixins, placeholders etc. which are applied globally through the app.</p>
		<p>Then, inside this <span class="f-path">global/</span> folder, there is a file <span class="f-path">_variables.scss</span>.</p>
		<p>In this file you will find theme color variables as specified in below screenshot. And can change their values to the ones you want those to be.</p>
		<p>So, that is all you need to do change the color theme. If you are willing to make any further customization about the theme, now you know where to change :)</p>
    </div>
</div>
