<div class="adocs-content">
    <h1 class="page-title">Introduction</h1>

	<div class="content-section">
		<p>Demo: <a  target="_blank" href="http://demo.g-axon.com/mouldifi-bs4-react">http://demo.g-axon.com/mouldifi-bs4-react</a></p>
		<p class="lead">Mouldifi is a complete package to develop any kind of web application which includes admin panel, SaaS application, a web portal, CMS or any back office app.</p>
		<p class="lead">In Mouldifi, you will find feature rich thoroughly developed apps like, Todo, Mail, Contacts, Chat etc. and these will give you a real kickstart as well as a complete understanding of the workflow to develop a small to complex level application with Mouldifi.</p>
	</div>
	<div class="content-section">
		<h2 class="section-title">Now Mouldifi 6.0+ comes in 2 versions:</h2>
		<h5>ReactStrap Version</h5>
		<p>This version is dedicated to those who love the flat design and the most popular HTML framework BootStrap 4. This setup is completely focused on keeping it pure bootstrap with the utilization of ReactStrap UI library.						</p>
		<h5>HTML (BS4 &amp; jQuery) Version</h5>
		<p>Upon the request of many buyers and potential customers, we have brought the BS4 and jQuery based version as well. It has no relation with ReactJS.</p>
	</div>
	<div class="content-section">
		<h2 class="section-title">Features of React Version</h2>
		<ul>
		<li>React 16.x</li>
		<li>Create React App</li>
		<li>Reactstrap</li>
		<li>React Router 4</li>
		<li>Code Splitting</li>
		<li>Redux</li>
		<li>Redux Saga</li>
		<li>Webpack 3.x</li>
		<li>Async Loading</li>
		<li>HMR</li>
		<li>Internationalization (Multi-Language)</li>
		<li>RTL Support</li>
		<li>ES6</li>
		<li>Flex Grid</li>
		<li>Google Map</li>
		<li>ReCharts</li>
		<li>BigCalendar</li>
		<li>Authentication Firebase</li>
		<li>Starter Template with Auth</li>
		<li>Starter Template without Auth</li>
		</ul>                        
	</div>
</div>