<h1>Product Overview</h1>
<div class="adocs-section-content ng-binding">
	<p>Once you download the zip file from your themeforest account and extract that. You will get the folder like below:</p>
	<p><span class="f-path">mouldifi-v-6.x</span></p>
	<p>Here any number following <strong>v-</strong> shows the version of the Mouldifi.</p>
	<p>Now, inside this folder, you will receive following subfolders and files:</p>
	<ul>
	<li><span class="f-path">mouldifi-bs4-html/</span><br>
	<p><small>This is a pure BS4 and jQuery based version. To access its documentation, click here</small></p>
	</li>
	<li><span class="f-path">mouldifi-react/</span><br>
	<p><small>A Flat Design, BootStrap 4 and React based version powered by reactstrap ui library. To access its documentation, click here</small></p>
	</li>
	<li><span class="f-path">docs/</span><br>
	<p><small>An index.html file which will take you to the online documentation.</small></p>
	</li>
	</ul>
</div>
