<h1>Setup Development Envrionment</h1>
<div class="adocs-section-content ng-binding">
	<p>In order to kickstart the development of your web app with Mouldifi, the very first thing you need to do is to setup a react development environment.</p>
	<p>Following tools are needed to setup a react dev environment:</p>
	
	<ul>
	<li>
		<strong>Node JS</strong><br>
		<p>NodeJS works as a node package manager behind the scene. It is recommended to download and install the latest version of Node JS from its official site <a href="http://nodejs.org/">http://nodejs.org/</a></p>
	</li>
	<li>
		<strong>Yarn</strong><br>
		<p>Download the latest version of the most loved dependency management tool for react applications from its official site <a href="https://yarnpkg.com">https://yarnpkg.com</a> and install it on your machine.</p>
	</li>
	<li>
		<strong>Ruby</strong><br>
		<p>In Mouldifi, Ruby is being used to write Sass styling. Mouldifi has built all its styling by writing the Sass code rather than the old days CSS. Ruby will help you in compiling the Sass code to CSS. You can download the Ruby from its official site <a href="https://www.ruby-lang.org">https://www.ruby-lang.org</a></p>
	</li>
	</ul>
</div>
