<div class="adocs-content">
    <h2 class="adocs-heading ng-binding">Setup Mouldifi</h2>
    <div class="adocs-section-content ng-binding">
		
		<p class="lead">
			In this article, we are considering that you have already setup all the tools mentioned in the article Setup React Development Environment
		</p>
		<p>Now, when you download <a href="https://wrapbootstrap.com/theme/mouldifi-html-react-redux-admin-template-WB009538N">Mouldifi - HTML+React Redux Admin Template</a> from wrapbootstrap.com. You will receive a zip file with a name like <span class="f-path small">mouldifi-{x.x}</span> where {x.x} represents to the latest version number.</p>
		<p>Extracting this file will give you a folder which will further contain 3 sub-folders and one of them is <span class="f-path">mouldifi-react/</span>. This folder represents to the React version of Mouldifi.</p>
		
		<p>Now, go inside the <span class="f-path small">mouldifi-react</span> folder.</p>
		<p>There you will find a folder called <span class="f-path small">source/</span>. You can use this folder to start your project.</p>

		<h5>To setup Mouldifi react demo</h5>
		<p>you can copy this source/ folder to the location where you want to setup the demo.</p>
		<p>For example, to your desktop.</p>
		<p>Now, after copying the folder, you can rename this with the project name you want to give it to. Let’s say mouldifi-demo</p>
		<p>Then open your command line tool. This is powershell in windows and terminal on mac/linux.</p>
		<p>In this command line tool, let’s go inside the mouldifi-demo folder with command CD</p>
		<p>Once you are there, all you need to do is, run the command <span class="f-path small command">$ yarn</span>. This will import all the dependencies Mouldifi react demo uses.</p>
		<p>Okay, so now we have all the dependency libraries imported successfully. Its the time to start demo in browser and all you need to do for that is run the command <span class="f-path small command">$ yarn start</span>.</p>
		<p>This will shortly run the demo in your default browser automatically.</p>
		<p>So, that is all you have to do to import source code of the Mouldifi react demo and run it locally. If you want to build a compiled version of demo. You need to run the command <span class="f-path small command">$ yarn build</span> and this will build a compiled version of demo for you.</p>
		<p>I hope this article was helpful</p>		
    </div>
</div>
