.para-verse {
  color: #5c5c5c !important;
  text-decoration: none !important;
  font-size: 1.15rem;
}

.para-verse-white {
  color: #FFF !important;
  text-decoration: none !important;
  font-size: 1.35rem !important;
}

.ref-verse {
  color: #5c5c5c !important;
  text-decoration: none !important;
}

.para-verse:hover, .ref-verse:hover {
  background-color: #EFEFEF;
}

.verse-md {
  font-size: 1rem !important;
}

.verse-100 {
  font-size: 100% !important;
}

.verse-large {
  font-size: 1.35rem !important;
}

.verse-single .highlight {
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255, 0.2);
}

.chapter-full .highlight {
  text-decoration: underline;
  text-decoration-color: #DDD;
}

.timeline-center .timeline-inverted .timeline-time {
    right: -160px !important;
}

.timeline-center .timeline-time {
    left: -160px !important;
}

.table thead th:first-child, .table tbody th:first-child {
    padding-left: 0px;
}

.bible-graph .ct-label, .book-count-graph .ct-label {
  font-size: 10px !important;
  white-space:nowrap;
  writing-mode:vertical-lr;
  transform:  translateY(-10%);
}

.ct-point {
  stroke-width: 4px;
}
.ct-line {
  stroke-width: 2px;
}

.bible-graph .ct-series-a .ct-bar, .bible-graph .ct-series-a .ct-line, .bible-graph .ct-series-a .ct-point, .bible-graph .ct-series-a .ct-slice-donut {
  stroke: #FF4081;
}
.bible-graph .ct-series-a .ct-area, .bible-graph .ct-series-a .ct-slice-donut-solid, .bible-graph .ct-series-a .ct-slice-pie {
  fill: #FF4081;
}

.dash-details {
  font-size: 90%;
}
